In [ ]:
import numpy as np  # calco Numérico
import pandas as pd  # preparação de dados
import matplotlib.pyplot as plt # pacote de plotagm

# As linhas a seguir ajuda a renderizar plotagens
import matplotlib as mpl             # adiconar p recuso de plotagem
mpl.rcParams['figure.dpi'] = 400     # Figuras em alta resolução
import graphviz                      # para visualização árvore de decisão

In [ ]:
!pip install pandas==1.2.0 # Foi necessario instalar essa versão do Pandas para abrir o arquivo

In [ ]:
!pip install xlrd==1.2.0 # Foi necessario instalar essa versão do xlrd para abrir o arquivo

In [ ]:
import pandas as pd  # preparação de dados

In [ ]:
# Importa Dataset em Execel como DATAFRAME.
df = pd.read_excel('/content/default_of_credit_card_clients__courseware_version_1_21_19.xls')

In [ ]:
# Examinar numero de linhas e colunas
df.shape

(30000, 25)

In [ ]:
# Examinando Colunas
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [ ]:
# Lendo do dataframe / comando head se limita as 5 primeiras linhas do dataframe
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [ ]:
# Contanto a coluna ID / verificamos um problema de qualidade. Já que nosso dataset tem uma saida de 30 mil linhas
df['ID'].nunique()

29687

In [ ]:
# vamos armazena a contagem na variavel 'id_counts' com metodo "value.counts" para ver a frequencia de o ID se repete.


id_counts = df['ID'].value_counts()
id_counts.head()

742d1d93-0d3b    2
d5aeb496-64e5    2
af9f7f07-e228    2
9e74795e-cb34    2
87dec940-75b7    2
Name: ID, dtype: int64

In [ ]:
# Podemos contar tambem da forma a seguir
# 331 IDS ocorrem duas vezes.
id_counts.value_counts()

1    29374
2      313
Name: ID, dtype: int64

In [ ]:
# Atribuiremos os ID duplicados a variavel "dupe_mask" e exibimos os cinco primeiros IDs duplicados

dupe_mask = id_counts ==2  # Localizar duplicatas (dupe_mask é uma mascara logica para armazenar valores booleanos)
dupe_mask[0:5]             # exibir os cincos primeiros IDs duplicados

In [ ]:
#Acessar os cincco primeiros Indices.
id_counts.index[0:5]

In [ ]:
#Criamos uma variavel para armazenar os IDs duplicados.
dupe_ids = id_counts.index[dupe_mask]

In [ ]:
#convertemos "dupe_ids" em uma lista e buscamos seu tamanho com o "len"
dupe_ids = list(dupe_ids)
len(dupe_ids)

313

In [ ]:
# Examinaremos a lista de Ids duplicados.
dupe_ids[0:5]

In [ ]:
#
df.loc[df['ID'].isin(dupe_ids[0:3]),:].head(10)